@import '../app.scss';


header.page-header{

    z-index:1000;
    position: fixed; 
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    background: $light-color-1;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $light-color-2;
    a.logo{
        text-decoration: none;
        display: block;
        padding-right: 70px;
        svg{
            height: 40px;   
            width: auto; 

        }
    }
    .mobile-menu-icon{
        height: 40px;
        background: $light-color-2;
        position: absolute;
        right: 20px;
        width:40px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width:18px;
            height: auto;
            path{
                fill: $accent-color-2;
            }

        }

    }
    @include mq( 'tablet' ) {
        height: 60px;
        justify-content: space-around;

        box-shadow: none;
        .mobile-menu-icon{
            display: none;
        }
        a.logo{
            padding:0px;
            height: 60px;
            display: flex;
            align-items: center;
            svg{
                height: 40px;
            }
        }
    }
    @include mq ( 'desktop' ) {
        height: 70px;
        a.logo {
            height: 70px;  
            svg{
                height: 43px;
            }
        }
    } 
}
header.page-header.at-top{
    background-color: transparent;
    border-bottom: 0px;
    box-shadow: none;
}