@import '../app.scss';

.book-btn{
    display:none !important;
    @include mq('tablet'){
        display: inline-block !important;
    }
    @include mq('desktop'){
        margin-left: 50%;
    }
}
.nav-bar{
    display:none;
    @include mq ('tablet') {
        height: 60px;
        width: fit-content;
        display: flex;
        font-size: 14px;
        color: $primary-color;
        font-family: $heading-font;
        a{
            color: $primary-color;
            font-family: $heading-font;
            text-decoration: none;
        }
        ul{
            width: fit-content;
            height: 100%;
            list-style: none;
            display: flex;
            margin:0px;
            padding:0px;

            li{
                padding: 0px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    } 
    @include mq ( 'tablet-wide' ) {
        .top-nav-bar{
            padding-left: 28px;
            .phone-num{
                padding-right: 35px;
            }
        }
        nav.bottom-nav-bar{
            font-size: 14px;
            ul{
                li{
                    width:105px;
                }
            }
            svg{
                padding-left: 15px;
            }
        }
    }
    @include mq( 'desktop') {
        height: 100px;
        font-size: 17px;
    }
}