

$primary-font : 'Lato', sans-serif;
$heading-font:'Raleway', sans-serif;

$accent-color: #00B4D8;
$accent-color-2: #5B97FF; 
$primary-color: #03045E;
$primary-color-2: #0077B6;

$light-color-1:#CAF0F8;
$light-color-2:#90E0EF;

$gradient:linear-gradient(90deg, $accent-color 0%, $accent-color-2 100%);

