
@import 'elements';
@import 'classes';

.layout-content{
    margin: 0px;
    padding-top: 60px;

    height: 200vh;

    @include mq ( 'tablet' ) {
        padding-top: 60px
    }
    @include mq ( 'desktop' ) {
        padding-top: 70px;
    }
}