@import '../../app.scss';

.facebook-section{
    margin: 30px auto;
    margin-bottom: 100px;;
    width: fit-content;

}
.news-heading{
    margin-top: 100px;
    width: 100%;
    text-align: center;

}