@import '../../app.scss';

.home-1{
    margin-top: -60px;
    min-height: 420px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;


    h1, h2{
        width: 80%;
        text-transform: uppercase;
        padding-left: 5px;
    }
    h1{
        color:white;
    }
    .link-btn{
        margin-top: 20px;
        margin-left: 5px;
    }
    @include mq('phone-wide'){
        padding-right: 38%;
        padding-left:5%;
        .link-btn{
            margin-top: 50px;
        }
    }
    @include mq('tablet-wide'){
        height: 80vh;
    }
    @include mq('desktop'){
        height: 700px;
        padding-right: 60%;
        margin-top: -70px;
    }
    

}
.home-1,
.home-1::before,
.home-1::after{
    background-position: center, -20vw center !important;
    @include mq('phone-wide'){
        background-position: center, right center !important;
    }
}
